@global-height: 500px;
@global-width: 500px;
@univ-padding: 0;
@tab-height: 60px;
@tab-padding: @tab-height/3;

@dark-text-color: #CCCCCC;
@light-text-color: #999;
@main-color: #e74c3c;

@background-color: #EEEEEE;
@darker-background: #CCCCCC;


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.transition-long {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.hidden {
  display: none;
}

html {
  height: @global-height;
  width: @global-width;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(0,0,0,0);
  font-family: 'Roboto', sans-serif;
  position:relative;
  height:100%;
  display: table;
  padding: 0;
  margin: 0;
  width: 100%;
}

#content {
  position: absolute;
  top: @univ-padding;
  left: @univ-padding;
  bottom: 0; //might wanna change
  right: @univ-padding;
  background: @background-color;
}

.tab-row {
  width: 100%; // @global-height - 2*@univ-padding
  height: @tab-height;
}

.tab {
  width: 33.5%;
  height: 100%;
  padding-top: @tab-padding;
  display: inline-block;
  background: white;
  margin-right: -5px;
  border: 2px solid @background-color;
  border-top: 0;
  border-left: 0;
  border-bottom-color: white;

  text-align: center;
  line-height: @tab-padding;
  font-size: 16px;

  .transition;

  &:last-child {
    border-right: 0;
  }
  &.active {
    border-bottom-color: @main-color;
  }
}

.tab-content {
  opacity: 0;
  position: absolute;
  z-index:0;
  top: @tab-height;
  left: 0;
  bottom: 0;
  width: 100%;
  .transition-long;

  &.active {
    .transition;
    z-index:10;
    opacity: 1;
  }
}
