@global-height: 500px;
@global-width: 500px;
@univ-padding: 20px;
@tab-height: 60px;

@dark-text-color: #222;
@light-text-color: #999;


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.transition-long {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.hidden {
  display: none;
}

html {
  height: @global-height;
  width: @global-width;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(0,0,0,0);
  font-family: 'Roboto', sans-serif;
  position:relative;
  height:100%;
  display: table;
  padding: 0;
  margin: 0;
  width: 100%;
}

#content {
  position: absolute;
  top: @univ-padding;
  left: @univ-padding;
  bottom: 0; //might wanna change
  right: @univ-padding;
  background: black;
}

.tab-row {
  width: 100%; // @global-height - 2*@univ-padding
  height: @tab-height;
}

.tab {
  width: 33.5%;
  height: 100%;
  display: inline-block;
  background:blue;
  margin-right: -5px;
  .transition;

  &.active {
    background: red;
  }
}

.tab-content {
  opacity: 0;
  position: absolute;
  z-index:0;
  top: @tab-height;
  left: 0;
  bottom: 0;
  width: 100%;
  background: green;
  .transition;

  &.active {
    .transition;
    z-index:10;
    opacity: 1;
    background: blue;
  }
}
